
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /* border: solid 1px red; */
}

.section1{
    height: 600px;
    min-width: 250px;
    color: white;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 25px 30px;
}

.header{
    display: flex;
    flex-wrap: wrap;
}

.header a{
    color: white;
    text-decoration: none;
}

.header ul{
    text-decoration: none;
    list-style-type: none;
}

.header nav ul{
    display: flex;
    gap: 20px;
}

.header .logo{
    flex-grow: 1;
    flex-shrink: 0;
    font-size: 20px;
    font-weight: bold;
    padding-right: 20px;
}

.header .logo,
.header nav{
    padding-bottom: 10px;
}

.hero{
    /* background-color: grey; */
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.hero .info{
    /* background-color: gray; */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-right: 20px;
    min-width: 164px;
}

.hero .vid{
    /* background-color: bisque; */
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.hero .vid video{
    width: 500px;
}

.hero .info .btn{
    display: flex;
}

.hero .info .btn a{
    padding: 7px 22px;
    background-color: #3882f6;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    width: auto;
    align-items: center;
}

.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0px;
}

.section2 h2{
    font-weight: bold;
    /* margin-top: 30px; */
    margin-bottom: 30px;
    text-align: center;
}

.section2 .cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;   
}

.cards .item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item img,
.item p{
    width: 150px;
}


.item img{
    height: auto;
    border: solid 3px #3882f6;
    border-radius: 15px;
}

.item p{
    text-align: center;
    word-wrap: break-word;
    margin-top: 5px;
    color: #1f2937;
}

.section3{
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}

.section3 .quote{
    width: 700px;
    padding: 80px 0px;
}

.section3 p{
    /* font-size: 31px; */
    font-size: 20px;
    font-weight: 100;
    padding: 0px 25px;
}

.section3 .aut{
    /* font-size: 20px; */
    font-size: 16px;
    font-weight: bolder;
    text-align: end;
}

.section4{
    display: flex;
    justify-content: center;
}

.section4 .action{
    display: flex;
    align-items: center;
    background-color: #3882f6;
    color: white;
    padding: 40px 80px;
    margin: 50px 25px;
    width: 800px;
    border-radius: 10px;
}

.action .info{
    flex: 1;   
}

.action .info p{
    font-weight: 100;
}
.action .btn a{
    padding: 7px 22px;
    border-radius: 8px;
    border: solid 2px white;
    color: white;
    text-decoration: none;
    font-size: 14px;

}

footer{
    display: flex;
    justify-content: center;
    padding: 15px 0px;
    color: white;
    background-color: #1f2937;
    font-size: 15px;
    font-weight: 100;
}

/* Video responsiveness for different screen sizes*/
@media only screen and (max-width: 890px) {
    .hero .vid{
        justify-content: flex-start;
    } 
}

@media only screen and (max-width: 710px) {
    .hero .vid video{
        width: 400px;
    }
}

@media only screen and (max-width: 450px) {
    .hero .vid video{
        width: 290px;
    }
}

@media only screen and (max-width: 340px) {
    .hero .vid video{
        width: 204px;
    }
}

/* Padding responsiveness for different screen sizes*/
@media only screen and (min-width: 890px) {
    .section1,
    .section2,
    .section3{
        padding-left: 80px;
        padding-right: 80px;
    }   
}

@media only screen and (min-width: 1200px) {
    .section1,
    .section2, 
    .section3{
        padding-left: 200px;
        padding-right: 200px;
    }    
}

@media only screen and (min-width: 1400px) {
    .section1,
    .section2,
    .section3{
        padding-left: 300px;
        padding-right: 300px;
    }    
}

/* Section 2 responsiveness*/
@media only screen and (min-width: 1300px) {
    .item img,
    .item p{
        width: 180px;
    }
    .section2 .cards{
        gap: 50px;
    }
}